@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Lato:wght@400;700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Kumbh+Sans:wght@100..900&family=Lato:wght@400;700&family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html,body{
    width:100%;
    height: 100%;
    overflow-x: hidden;

}
.fullnav{
    background-color: #fff;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    border-bottom:0.065vw solid #17340929  ;

}

.navBar {
    width: 88.2vw;
    height: 3.25vw;
    display: flex;
    justify-content: space-between;
    padding-top: 1.3vw;
    padding-bottom: 3.9vw;
    color: #1D221B;
    background-color: #fff;
    margin-left: 6.24vw;
}



.navLogo{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 2.73vw;
    font-size: 2.73vw;
    /* margin-left: 3.9vw; */
}

.navSection{
    display: flex;
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.73vw;
    font-size: 1.82vw;  
    gap: 2.08vw;  
}

.navSection a {
    
    /* margin-right: 3.9vw; */
    cursor: pointer;
    
} 

.navSection div a{
    text-decoration: none;
    color: #1D221B;
}


.hero{
    width: 88.2vw;
    display: flex;
    margin: 12.32vw auto  1.24vw auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1D221B;
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.2vw;
    line-height: 5.2vw;
}

.hero img{
    margin-top: 3.9vw;
    /* width: 90%; */
    width: 100%;
    height: auto;
    margin: 1.24vw auto;
    
}

/* .projects {
    display: grid;
    width: 88.2vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.12vw;
    margin-bottom: 9.1vw;
}
 
.c1 {
    color: #1D221B;
    font-size: 1.3vw;
    line-height: 1.56vw;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"YOPQ" 300;

}

.c2{
    color: #1D221B9E;
    font-size: 1.17vw;
    line-height: 1.56vw;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"YOPQ" 300;

}
 */

 .projects {
    display: grid;
    width: 88.2vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2.12vw;
    margin-bottom: 9.1vw;
}

.p img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.c1 {
    color: #1D221B;
    font-size: 1.3vw;
    line-height: 1.56vw;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
}

.c2 {
    color: #1D221B9E;
    font-size: 1.17vw; 
    line-height: 1.56vw;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
}


@media (max-width: 1024px) {
    .projects {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3vw; 
    }
    
    .c1, .c2 {
        font-size: 1.5rem; 
        line-height: 1.8rem;
    }
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(1, 1fr); 
        gap: 4vw;
    }

    .c1, .c2 {
        font-size: 1.2rem; 
        line-height: 1.5rem;
    }
}


.contactUs {
    text-align: center;
    margin-bottom: 7.8vw;
    border-bottom: 0.13vw solid #17340929;
}

.contactHead{
    text-align: center;
    color: #1D221B;
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.6vw;
    font-size: 2.21vw;
    margin-bottom: 0.65vw;
}

.contactSub{
    text-align: center;
    color: #1D221B;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"YOPQ" 300;
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 32px;

}

form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 80px;
}

.formRow {
    display: flex;
    gap: 8px;
}

.text{
    width: 340px;
}


input, textarea, button {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #17340929;
    border-radius: 8px;
    background-color: #DADACA66;
} 

 input::placeholder, textarea::placeholder {
    color: #1D221B66;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"YOPQ" 300;
    line-height: 20px;
    font-size: 15px;
} 

.submit {
    background-color: #204F0A;
    color: #FBFFFA;
    cursor: pointer;
    width: 83px;
}

textarea {
    resize: none;
    height: 100px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}

.footText{
    color: #1D221B9E;
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    font-size: 28px;
    margin-left: 80px;
}

.subscribe{
    margin-right: 80px;
    width: 141px;
    color: #1D221B;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"YOPQ" 300;
    line-height: 24px;
    font-size: 20px;
    cursor: pointer;
}

